<div style="overflow-y: scroll;">
    
    <div *ngIf="justShowMap" leaflet style="height: 300px; margin: 0; padding: 0;"
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
    >

    </div>

    <div *ngIf="!justShowMap"  leaflet style="height: 300px; margin: 0; padding: 0;"
        leafletDraw
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        [leafletDrawLocal]="drawLocal"
        (leafletDrawCreated)="onDrawCreated($event)"
        (leafletDrawEdited)="onDrawEdited($event)"
        (leafletDrawDeleted)="onDrawDeleted($event)"
        >

        <!-- Add the drawnItems featureGroup to the map -->
        <div [leafletLayer]="drawnItems"></div>

    </div>

    <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

    <!-- <div>
        <button (click)="clickEvent($event)">click me</button>
        <button (click)="changeView($event)">change view</button>
        <button (click)="getListOfAllDrawnShapes($event)">get list of shapes</button>
    </div> -->
    <div>
        <h1>Hero Form</h1>
        <div>    
            <form>
                <div class="form-group">
                  <label for="hot_spot_name">Hot Spot Name</label>
                  <input type="text" class="form-hot_spot_name" id="hotspot_name" name="hotspot_name" placeholder="Enter zone name" [(ngModel)]="hotspot_name">
                </div>
                <div class="form-group">
                  <label for="hot_spot_description">Hotspot description</label>
                  <textarea class="form-control" rows="5" id="hot_spot_description" name="hot_spot_description"  [(ngModel)]='hotspot_description'></textarea>
                </div>
                <div class="form-group">
                    <label for="user_id_created_by">Select list:</label>
                    <select class="form-control" id="user_id_created_by" name="user_id_created_by" [(ngModel)]="created_by_id">
                        <option value="1">user 1</option>
                        <option value="2">user 2</option>
                        <option value="3">user 3</option>
                        <option value="4">user 4</option>
                    </select>
                </div>
                <button  class="btn btn-primary" (click) = "onZoneDrawSubmit($event)">First Stage</button>
                <button *ngIf="showSaveButton" class="btn btn-primary" (click) = "onZoneDrawSaveClickedEvent($event)">Save </button>
              </form>  

            <!-- <button type="submit" class="btn btn-success" (click)="onZoneDrawSubmit($event)">Submit</button> -->
        </div>     
    </div>
</div>